<h1> List of Restaurants </h1>

<h3> There are <%= @restaurants.length %> restaurants in our list. </h3>

<ul> <% @restaurants.each do |r| %>
		<li> <a href= <%= "/restaurants/#{r.id}" %> > <%= r.name %> </a> </li>
	 <% end %>
</ul>

<div>
 	<%= form_for(:restaurant) do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>

	  <%= f.submit "Create Restaurant" %>
	<% end %>
</div>