<h1><%= @restaurant.name %></h1>

<div>
<ul> <% @restaurant.reviews.each do |review| %>
		<li> <%= review.title %> </li>
	 	<li> <%= review.body %> </li>
	 <% end %>
</ul>
</div>


<div>
 	<%= form_for(@review) do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %> <br />

		<%= f.label :body %>
		<%= f.text_area :body %>

	  <%= f.submit "Add Review" %>
	<% end %>
</div>