<h1><%= @restaurant.name %></h1>

<div>
  <ul> 
	<% @restaurant.reviews.each do |review| %>
		<li> <a href= <%= "/restaurants/#{@restaurant.id}/reviews/#{@review.id}" %> > <%= review.title %> </a> </li>
	 <% end %>
  </ul>
</div>


<div>
 	<%= form_for([@restaurant, @review]) do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %> <br />

		<%= f.label :body %>
		<%= f.text_area :body %>

	  <%= f.submit "Add Review" %>
	<% end %>
</div>